@import "../../assets/styles/mixin";

.home-page {
  width: 100%;
}

.btn {
  margin: 0 85px;
  width: auto;
  height: 100px;
  border-radius: 20px;
  text-align: center;
  line-height: 90px;
  border: 2px solid $color-line;
  @include sc(36px, $color-big);
}

.child-btn {
  margin-top: 40px;
  width: 560px;
  height: 100px;
  border-radius: 20px;
  text-align: center;
  line-height: 90px;
  border: 2px solid $color-line;
  @include sc(36px, $color-big);
  background: $color-white;
}
