@import "mixin";

#app, .page, .tab-bar-page {
  width: 100vw;
  height: 100vh;
  background: $color-white;
}

* {
  margin: 0;
  padding: 0;
}

.scroll-container {
  overflow-y: scroll;
}

.hidden {
  display: none !important;
}


.tab-content {
  width: 100%;
}

.tab-bar {
  box-shadow: 0 -2px $color-shadow;
}
