@import "../../assets/styles/mixin";

.btn {
  margin: 0 85px;
  width: auto;
  height: 100px;
  border-radius: 20px;
  text-align: center;
  line-height: 90px;
  border: 2px solid $color-line;
  @include sc(36px, $color-big);
}

.test-page {
  height: 800px;
}

.overflow-hidden {
  overflow: hidden;
}
